<h1>Topics#show</h1>
<p>Find me in app/views/topics/show.html.erb</p>
<%= render partial: "shared/topic_admin_panel", locals: { board: @board, topic: @topic }, cached: true %>
<%= render partial: 'shared/post', collection: @posts, locals: { board: @board, topic: @topic }, cached: true %>

<%= render 'posts/new' %>