<div class="format-panel" data-action="click->form#style">
  <ul>
    <li class="bold">Bold</li>
    |
    <li class="italic">Italic</li>
    |
    <li class="underline">Underline</li>
    |
    <li class="strikethrough">Strikethrough</li>
  </ul>
</div>
