<% post = post.decorate %>
<% locals_hash = {
                  board: board,
                  topic: topic,
                  post: post,
                  iteration: defined?(iteration) ? iteration : post_iteration.index
                 } %>

<div class="post" id="post-id-<%="#{post.id}"%>">
  <%= render partial: "shared/post_first_line", locals: locals_hash %>

  <% if post.images.attached? %>
    <%= render partial: "shared/post_content", locals: locals_hash %>
  <% end %>

  <%= render partial: "shared/post_text", locals: locals_hash %>
</div>
