<div class="post" id="post-id-<%="#{post.id}"%>">
  <p class="post-metadata">Posted at: <%= post.created_at %></p>
  <p class="post-title"><%= post.name %></p>
  <p class="post-text"><%= post.text %></p>
</div>
