<% if current_user&.moderator_role? || current_user&.administrator_role? %>
  <% div_class = %w[topic-admin-panel] unless div_class %>
  <%= tag.div class: div_class do %>
    <div class="thread-panel">
      <%= button_to "Delete Topic", board_topic_path(board.name, topic), method: :delete %>
    </div>
  <% end %>
<% end %>
