<%= turbo_stream.replace "board-id-#{@board.id}" do %>
<tr><td colspan="6" class="deleted">Board deleted</td></tr>
<% end %>


<%= turbo_stream.replace("notifications", partial: "shared/notifications") %>