.topic-first-post > .post,
.topic > .post:nth-child(1) {
  background-color: unset;
  max-width: 1250px;
}

.topic {
  display: flex;
  flex-direction: column;
}

.post {
  max-width: 950px;
  width: fit-content;
  background-color: var(--color-light-primary);

  padding: var(--space-4) var(--space-4);
  margin-bottom: var(--space-4);
}

.post-metadata {
  color: var(--color-text-secondary);
}

.post h4 {
  margin: 0.5ch 0;
}

.post-replies {
  margin-top: var(--space-7);
  font-size: var(--space-2);
}

/*  */
/** images */
/*  */

.content-container.one-image {
  display: flex;
  gap: var(--space-4);
}

.image-metadata {
  font-size: var(--space-1);
}

.image-showcase {
  display: inline-block;
}

.images-showcase {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
}

.post-text {
  padding-top: var(--space-7);
}

.post-text > p {
  margin: 0;
}

/* Go To vs Reply button */

.topic .go-to-post,
.topic .go-to-topic {
  display: none;
}

.topic-preview .reply-to-post,
.topic-preview .go-to-topic {
  display: none;
}

.topic-first-post .reply-to-post,
.topic-first-post .go-to-post {
  display: none;
}

.topic-first-post .go-to-topic {
  display: inline;
}

@media(max-width: 495px) {
  .content-container.one-image {
    flex-direction: column;
  }
}
