#boards-body > .topic-preview {
  border-bottom: solid 1px var(--color-divider);

  padding-bottom: var(--space-8);
  margin-bottom: var(--space-8);
}

#boards-body > .topic-preview:last-child {
  border-bottom: none;
}

#next-page,
#no-next-page {
  display: block;
  text-align: center;
  font-size: var(--space-6);
  text-decoration: underline;

  margin-top: var(--space-4);
  margin-bottom: var(--space-9);

}

#no-next-page {
  text-decoration: none;
}