<div class="heading">
  <h2><%= link_to "/#{@board.name}/", board_path(@board.name) %></h2>
  <h1><%= link_to "#{@board.full_name}", board_path(@board.name) %></h1>
  <%= link_to "New Thread", new_board_topic_path(@board.name), id: "new-post-form-link",  data: {
                                                                                          turbo_frame: "new-post-form",
                                                                                          action: "click->form#callToTop"
                                                                                          } %>
  <%# gets new topic form (which is almost the same as the new post form) %>
  <%= turbo_frame_tag "new-post-form", class: "topic-form" do %>
  <% end %>
</div>
