<% posts = preview_topic.posts.includes(:images_attachments, { images_blobs: { variant_records: { image_attachment: :blob } } }, replies: { posts: {topic: :board}}).order(:created_at).where(for_preview: true) %>
<li class="thread">
  <div class="thread-meta"><%= link_to preview_topic.id, board_topic_url(@board.name, preview_topic) %></div>
  <div class="thread-first-post">
    <% if posts.first %>
      <% first_post = posts.first.decorate %>
      <% first_post_id = first_post.id %>
      <%= render "shared/post", board: board, topic: preview_topic, post: first_post %>
    <% end %>
  </div>
  <div class="thread-last-posts">
    <% posts.last(3).each do |post| %>
      <% next if post.id == first_post_id %>
      <% post = post.decorate %>
      <%= render "shared/post", board: board, topic: preview_topic, post: post  %>
    <% end %>
  </div>
</li>
