<h1>Blankchan</h1>
<li class="board-list">
  <% cache(@boards) do  %>
    <table>
      <tr>
        <th>Link</th>
        <th>Name</th>
      </tr>
      <% @boards_name_and_full_name.each do |board| %>
        <tr>
          <td><%= board[0] %></td>
          <td><%= board[1] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</li>
