<h1>hello</h1>
<h2>here are threads:</h2>
<%= paginate @topics %>
<ul>
  <%= render partial: "preview_topic", collection: @topics, locals: {board: @board} %>
</ul>
<%= link_to "New Thread", new_board_topic_path(@board.name) %>
