#admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-4);
}

#admin-container button {
  border: solid 2px var(--color-primary);
  font-weight: 600;
}

#admin-container button.open,
#admin-container button.promote {
  background-color: var(--color-accent);
}

#admin-container button.close,
#admin-container button.dismiss {
  background-color: var(--color-light-primary);
}

#admin-container button.delete {
  background-color: var(--color-dark-primary);
}


#admin-container nav ul {
  display: flex;
  gap: var(--space-6);
  font-weight: 600;
}

#admin-container nav a {
  font-weight: 400;
}

.table-container {
  overflow: hidden;
  overflow-x: auto;
  min-width: 900px;
}

.admin-table * {
  margin: 0;
}

.admin-table .id {
  text-align: right;
}
.admin-table td {
  border: 10px solid transparent;
}

.admin-table td.actions {
  display: flex;
  gap: var(--space-1);
}

td.actions button {
  width: 100px;
}
/* Post admin panel */

.post-admin-panel {
  display: block;
  gap: var(--space-4);
  margin: 4px 0;
}

.post-admin-panel * {
  display: inline;
  margin: 0;
}

/* deleted post filler */

.deleted {
  margin-bottom: var(--space-4);
}

/* Topic admin panel */

.topic-admin-panel {
  display: flex-inline;
  justify-content: center;
  margin: 4px 0;
  gap: var(--space-4);
}

.topic-admin-panel * {
  margin: 0;
}