#admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-4);
}


#admin-container nav ul {
  display: flex;
  gap: var(--space-6);
  font-weight: 600;
}

#admin-container nav a {
  font-weight: 400;
}

.table-container {
  overflow: hidden;
  overflow-x: auto;
  min-width: 900px;
}

.admin-table * {
  margin: 0;
}

.admin-table .id {
  text-align: right;
}
.admin-table td {
  border: 10px solid transparent;
}

.admin-table td.actions {
  display: flex;
  gap: var(--space-1);
}

td.actions button {
  width: 100px;
}

/* Topic admin panel */
.topic-admin-panel {
  display: flex;
  justify-content: center;
  margin: 4px 0;
  gap: var(--space-4);
}

.topic-admin-panel * {
  margin: 0;
}