#admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-4);
}


#admin-container nav ul {
  display: flex;
  gap: var(--space-6);
  font-weight: 600;
}

#admin-container nav a {
  font-weight: 400;
}

.table-container {
  overflow: hidden;
  overflow-x: auto;
  min-width: 900px;
}

#users-list .id {
  text-align: right;
}
#users-list td {
  border: 10px solid transparent;
}

#users-list td.actions {
  display: flex;
  gap: var(--space-1);
}

td.actions button {
  width: 100px;
}
