/*  */
/** N O R M A L I Z E R  */
/*  */

html,
body,
ul {
  margin: 0;
  padding: 0;
}

* {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/*  */
/** D E F A U L T  S T Y L E S */
/*  */

body {
  background-color: var(--color-background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

button {
  display: inline;
  margin: 0;
  border: 0;
  padding: 0;
  background: none;

  cursor: pointer;

  font-size: inherit;
  color: inherit;

  line-height: 1.2;
}

:root {
  /*  */
  /** C O L O R S  **/
  /*  */

  --color-primary: #F44336;
  --color-dark-primary: #D32F2F;
  --color-light-primary: #FFCDD2;
  --color-accent: #448AFF;
  --color-background: #E6F0FF;
  --color-text-primary: #000000;
  --color-text-secondary: #757575;
  --color-divider: #BDBDBD;


  /*  */
  /** S I Z E S **/
  /*  */

    --space-0:   8px;
    --space-1:  10px;
    --space-2:  12px;
    --space-3:  14px;
    --space-4:  16px;
    --space-5:  18px;
    --space-6:  20px;
    --space-7:  24px;
    --space-8:  30px;
    --space-9:  36px;
    --space-10: 48px;
    --space-11: 60px;
    --space-12: 72px;

}