#notifications {
  position: absolute;
  overflow: hidden;

  visibility: hidden;

  right: 0px;
  bottom: -100px;
  z-index: 1;

  background-color: var(--color-accent);
  color: #ffffff;
}

#notifications > ul > * {
  padding: 4px var(--space-4);
}

#notifications > ul:first-child {
  padding-top: var(--space-0);
}

#notifications > ul:last-child {
  padding-bottom: var(--space-0);
}

#notifications li {
  margin-bottom: 4px;
}

/*  */
/** Animations  */
/*  */

#notifications {
  animation: 10s appear-and-vanish 1 normal forwards;
}

@keyframes appear-and-vanish {
 from {
    visibility: hidden;
    width: 0px;
  }

  10% {
    visibility: visible;
    width: unset;
  }

  90% {
    visibility: visible;
    width: unset;
  }

  to {
    width: 0px;
    visibility: hidden;
  }
}