/*
*= require ./components/default
*= require ./components/header
*= require_self
*/

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

main {
  max-width: 1750px;
  justify-self: center;

  display: grid;
  column-gap: var(--space-9);
  padding-top: var(--space-4);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
  "  .   kirby"
  " h1   kirby"
  "tbl   kirby"
  "tbl   kirby"
  "  .   kirby";
}

h1 {
  grid-area: h1;
  font-size: var(--space-10);
  align-self: end;
}

table {
  grid-area: tbl;
  font-size: var(--space-7);

  align-self: start;
  z-index: 1;
}

th:nth-child(1),
td:nth-child(1) {
  padding-right: var(--space-5);
  text-align: right;
}

th:nth-child(2),
td:nth-child(2) {
  padding-left: var(--space-5);
  text-align: left;
}

h1, li {
  justify-self: center;
}

.kirby-root {
  grid-area: kirby;
  z-index: 0;
}

@media(max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    row-gap: var(--space-4);
    grid-template-areas:
    "h1"
    "tbl";
  }

  .kirby-root {
    grid-column-start: h1;
    grid-column-end: tbl;
    grid-row-start: h1;
    grid-row-end: tbl;
    width: 100%;
    height: auto;
    opacity: 10%;
  }
}