form {
  display: grid;
}

form > * {
  margin-bottom: var(--space-6);
}

form > label {
  font-size: var(--space-4);
  margin-bottom: 4px;
  color: var(--color-text-secondary);
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #F4F7FB;
  border: 1px solid #bdbdbd;
  box-shadow: inset 0px 1px 4px rgba(100, 100, 100, 0.5);
  border-radius: 2px;
  max-width: 325px;

  font-size: var(--space-4);
}

textarea {
  width: 425px;
  height: 140px;

  max-width: unset;
}

form > input[type="submit"] {
  font-size: var(--space-4);
  justify-self: center;

  background-color: #106ebe;
  color: #ffffff;
  border-radius: 4px;

  font-weight: bold;
  font-size: var(--space-6);

  padding: var(--space-0) var(--space-10);

}

input[type="checkbox"] {
  margin: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

@media(max-width: 495px) {
  form * {
    max-width: 85vw;
  }
}
