main {
  position: relative;
}

.form-container {
  display: grid;
}

.passcode-form {
  display: grid;
  justify-content: center;
}

.passcode-form > .checkbox-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: var(--space-0);
}

.kirby-passcode {
  width: 240px;
  transform: scaleX(-1);
  bottom: 1px;

  position: absolute;
  bottom: 1px;
  right: 1px;
}

@media (max-width: 900px){
  .kirby-passcode {
    opacity: 0.15;
    z-index: -1;
  }
}
