#new-topic-form,
#new-post-form {
  display: grid;
  justify-content: center;
}

#new-post-form label,
#new-post-form .format-panel,
#new-topic-form label,
#new-topic-form .format-panel {
  justify-self: start;
}

#new-post-form li,
#new-topic-form li {
  display: inline-block;
  font-size: var(--space-3);
}

#new-post-form .format-panel,
#new-topic-form .format-panel {
  margin-top: calc(-1 * (var(--space-6) - 4px));
}

.format-panel > ul > li {
  cursor: default;
}

/* Handling position fixed */

#new-post-form > .window-heading {
  display: none;
}

#new-post-form.fixed > .window-heading {
  display: block;
  position: relative;

  text-align: center;
  font-weight: 700;
}

#new-post-form.fixed > .window-heading > span {
  position: absolute;
  right: 0px;
}

#new-post-form.fixed {
  position: fixed;
  right: var(--space-4);
  bottom: 0px;

  background-color: #ffcdd2;
  padding: var(--space-7);

  z-index: 1;

  border: 5px solid var(--color-divider);

}

@media(max-width: 515px) {
  #new-post-form.fixed {
    left: var(--space-1);
    right: var(--space-1);
  }
}
